.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 1px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 800px;

  .head {
    padding: 1rem 2rem 0.3rem;

    .name {
      color: #4c51bf;
    }

    .partner-id {
      color: #4a5568;
    }
  }

  .bottom {
    padding: 1rem 2rem 0.3rem;

    .search-found {
      color: #808285;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 100%;

    .heading {
      color: #3c366b;
    }

    .contracts {
      border-right: 1px solid #a3bffa;
      padding: 0 2rem;
      width: 50%;
    }

    .item {
      color: #4a5568;
      display: flex;
      justify-content: space-between;
    }
  }

  .damges {
    padding: 0 2rem;
    width: 50%;
  }
}
