<section class="token">
  <app-header></app-header>
  <div class="content mx-auto">
    <h2 v-if="!confirmPassword" class="mb-5 text-center">
      {{ $t('pages.setPassword.title', 'Neues Passwort erstellen') }}
    </h2>
    <p v-if="!confirmPassword">
      {{ 
        $t('pages.setPassword.text', 'Neues Passwort erstellen', 
        'Bitte geben Sie den mit der E-Mail versandten Token und das neue Passwort ein') 
      }}:
    </p>
    <v-form v-if="!confirmPassword" v-model="valid">
      <v-text-field
        :label="$t('pages.setPassword.form.token', 'Token')"
        required
        v-model="token"
        >
      </v-text-field>
      <v-text-field
        :type="hiddenPassword ? 'password' : 'text'"
        :label="$t('pages.setPassword.form.newPassword', 'Neues Passwort')"
        prepend-icon="mdi-lock-outline"
        :append-icon="hiddenPassword ? 'mdi-eye-outline': 'mdi-eye-off-outline'"
        @click:append="showPassword"
        clearable
        required
        :rules="[validatePasswordLength(password)]"
        v-model="password">
      </v-text-field>
      <v-text-field
        :type="hiddenPassword ? 'password' : 'text'"
        :label="$t('pages.setPassword.form.repeatPassword', 'Passwort wiederholen')"
        prepend-icon="mdi-lock-outline"
        :append-icon="hiddenPassword ? 'mdi-eye-outline': 'mdi-eye-off-outline'"
        @click:append="showPassword"
        clearable
        required
        :rules="[validatePasswordMatch(passwordMatch)]"
        v-model="passwordMatch">
      </v-text-field>
    </v-form>
    <!--
    <h2 v-if="confirmPassword" class="mb-5 text-center">Erfolgreich!</h2>
    <p v-if="confirmPassword">Ihr Passwort wurde erfolgreich geändert.</p>
    -->
    <v-btn
      v-if="!confirmPassword"
      color="#667EEA"
      class="text-light"
      depressed
      @click="setPassword"
      :disabled="!valid"
    >
      {{ $t('pages.setPassword.button.save', 'Neues Passwort erstellen', 'Passwort speichern') }}
    </v-btn>

  </div>
</section>
