<section class="detail">
  <v-card class="mx-auto" max-width="500">
    <v-card-title class="v-card-title">
      {{ $t('components.user.insuredCard.title', 'Versicherten Profil') }}
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            depressed
            v-on:click="switchEdit"
            v-on="on">
            <v-icon class="add">mdi-pencil-outline</v-icon>
          </v-btn>
        </template>
        <span>{{ $t('components.user.insuredCard.tooltips.edit', 'Versicherten bearbeiten') }}</span>
      </v-tooltip>
    </v-card-title>
    <v-card-text>
      <v-row>
        <!--Anrede, Vorname, Nachname-->
        <v-col cols="12" sm="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.name', 'Name') }}</h3>
          <p v-if="!edit">{{ insured.salutation }} {{ insured.firstname }} {{ insured.lastname }}</p>
        </v-col>
        <v-col v-if="edit" cols="12" sm="4" md="4" class="edit-name">
            <v-text-field class="edit-name"
              :label="$t('components.user.insuredCard.labels.salutation', 'Anrede')"
              v-model="insured.salutation"
            ></v-text-field>
        </v-col>
        <v-col v-if="edit" cols="12" sm="4" md="4" class="edit-name">
          <v-form ref="firstname">
            <v-text-field class="edit-name"
              required
              :label="$t('components.user.insuredCard.labels.firstname', 'Vorname')"
              v-model="insured.firstname"
              :rules="[requiredField(insured.firstname)]"
            ></v-text-field>
          </v-form>
        </v-col>
        <v-col v-if="edit" cols="12" sm="4" md="4" class="edit-name">
          <v-form ref="lastname">
            <v-text-field class="edit-name"
             required
             :label="$t('components.user.insuredCard.labels.lastname', 'Nachname')"
             v-model="insured.lastname"
             :rules="[requiredField(insured.lastname)]"
            ></v-text-field>
          </v-form>
        </v-col>

        <!--Geschlecht-->
        <v-col cols="12" sm="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.gender', 'Geschlecht') }}</h3>
          <p v-if="!edit">{{ gender }}</p>
          <v-select
            v-if="edit"
            :items="['Undefined','Neutral','Female','Male']"
            v-model="gender"
          ></v-select>
        </v-col>

        <!--Geburtstag-->
        <v-col cols="12" sm="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.birthday', 'Geburtstag') }}</h3>
          <p v-if="!edit">{{ computedDate }}</p>
          <v-menu
            v-model="menu"
            v-if="edit"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px">
            <template v-slot:activator="{ on }">
              <v-text-field
                :value="computedDate"
                prepend-icon="mdi-calendar"
                readonly
                v-on="on">
              </v-text-field>
            </template>
            <v-date-picker v-model="birthday" @input="menu = false"/>
          </v-menu>
        </v-col>

        <!--Straße und Hausnummer-->
        <v-col cols="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.address', 'Adresse') }}</h3>
          <p v-if="!edit">{{ insured.address.streetaddress }} {{ insured.address.housenumber }}</p>
        </v-col>

        <v-col cols="12" md="8">
        <v-text-field
          v-if="edit"
          :label="$t('components.user.insuredCard.labels.street', 'Straße')"
          v-model="insured.address.streetaddress"
        ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-if="edit"
            :label="$t('components.user.insuredCard.labels.housenumber', 'Hausnummer')"
            v-model="insured.address.housenumber"
          ></v-text-field>
        </v-col>

        <!--Postleitzahl, Stadt-->
        <v-col cols="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.city', 'Stadt') }}</h3>
          <p v-if="!edit">{{ insured.address.postcode }} {{ insured.address.city }}</p>
        </v-col>
        <v-col v-if="edit" cols="12" md="6">
          <v-text-field
            v-if="edit"
            :label="$t('components.user.insuredCard.labels.postcode', 'Postleitzahl')"
            v-model="insured.address.postcode"
          ></v-text-field>
        </v-col>
        <v-col v-if="edit" cols="12" md="6">
            <v-text-field
              v-if="edit"
              :label="$t('components.user.insuredCard.labels.city', 'Stadt')"
              v-model="insured.address.city"
            ></v-text-field>
        </v-col>

        <!--Land-->
        <v-col cols="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.country', 'Land') }}</h3>
          <p v-if="!edit">{{ insured.address.country }}</p>
          <v-text-field
            v-if="edit"
            v-model="insured.address.country"
          ></v-text-field>
        </v-col>

        <!--Staat-->
        <v-col cols="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.state', 'Staat') }}</h3>
          <p v-if="!edit">{{ insured.address.state }}</p>
          <v-text-field
            v-if="edit"
            v-model="insured.address.state"
          ></v-text-field>
        </v-col>

        <!--Email-->
        <v-col cols="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.email', 'E-Mail') }}</h3>
          <p v-if="!edit">{{ insured.contactData.mail }}</p>
          <v-text-field
            v-if="edit"
            v-model="insured.contactData.mail"
            prepend-icon="mdi-email-outline"
            :rules="[validateEmail(insured.contactData.mail)]"
          ></v-text-field>
        </v-col>

        <!--Telefon, Handy-->
        <v-col cols="12" md="6">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.telefon', 'Telefon') }}</h3>
          <p v-if="!edit">{{ insured.contactData.telefon }}</p>
          <v-text-field
            v-if="edit"
            v-model="insured.contactData.telefon"
            prepend-icon="mdi-phone"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.cellphoneNumber', 'Handy') }}</h3>
          <p v-if="!edit">{{ insured.contactData.cellphonenumber }}</p>
          <v-text-field
            v-if="edit"
            v-model="insured.contactData.cellphonenumber"
            prepend-icon="mdi-cellphone"
          ></v-text-field>
        </v-col>

        <!--Postfach-->
        <v-col cols="12" md="12">
          <h3>{{ $t('components.user.insuredCard.tableHeaders.postOfficeBox', 'Postfach') }}</h3>
          <p v-if="!edit">{{ insured.contactData.postOfficeBox }}</p>
          <v-text-field
            v-if="edit"
            v-model="insured.contactData.postOfficeBox"
            prepend-icon="mdi-mailbox"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card-text>
    <v-divider v-if="(edit&&updateUser)||updateAdmin"></v-divider>
    <v-card-actions class="card-action justify-end">
      <v-btn
        v-if="updateAdmin"
        text
        color="#667EEA"
        class="highlight"
        depressed
        @click="backToOverview">
        {{ $t('components.user.insuredCard.buttons.back', 'Zurück') }}
      </v-btn>
      <v-btn
        v-if="edit&&updateUser"
        color="#667EEA"
        class="text-light"
        depressed
        @click="validateForm()&&updateInsuredUser()">
        {{ $t('components.user.insuredCard.buttons.update', 'Änderungen speichern') }}
      </v-btn>
      <v-btn
        v-if="edit&&updateAdmin"
        color="#667EEA"
        class="text-light"
        depressed
        @click="validateForm()&&updateInsuredAdmin()">
        {{ $t('components.user.insuredCard.buttons.update', 'Änderungen speichern') }}
      </v-btn>
    </v-card-actions>
  </v-card>
</section>
