.password-forget {
  display: flex;
  flex-direction: column;
}

:host {
  background: #fff;
}

html,
body {
  .content {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    width: 30%;

    @media screen and (max-width: 1520px) {
      padding: 40px 0;
    }

    @media screen and (max-width: 1520px) {
      padding: 40px 0;
    }

    @media screen and (max-width: 1000px) {
      padding: 40px 0;
      width: 60%;
    }
        
    @media screen and (max-width: 700px) {
      padding: 40px 0;
      width: 80%;
    }
  }

  .text-light {
    color: #ebf4ff;
  }

  .highlight {
    color: #667eea;
    white-space: normal;
  }
}
