<section class="password-forget">
  <app-header></app-header>
  <div class="content mx-auto">
    <h2 v-if="!sendEmail" class="mb-5 text-center">
      {{ $t('pages.passwordForget.title', 'Password Vergessen') }}?
    </h2>
    <p v-if="!sendEmail">
      {{ 
        $t('pages.passwordForget.text', 
        'Wenn Sie Ihr Passwort vergessen haben, senden Sie uns Ihre E-Mail-Adresse und wir schicken Ihnen eine E-Mail mit Anweisungen zur Wiederherstellung Ihres Passworts.') 
      }}
    </p>
    <v-form v-model="valid">
      <v-text-field
        :label="$t('pages.passwordForget.form.email')"
        prepend-icon="mdi-email-outline"
        clearable
        :rules="[validateEmail(email)]"
        required
        v-if="!sendEmail"
        v-model="email"
      >
      </v-text-field>
    </v-form>
    <h2 v-if="sendEmail" class="mb-5 text-center">
      {{ $t('pages.passwordForget.sendMail.title', 'Erfolgreich') }}!
    </h2>
    <!-- todo: add übersetzen nachdem plugin richtig funktioniert -->
    <span v-if="sendEmail" class="mb-5 text-center"
      >Eine Email mit Ihrem Bestätigungslink wurde an
      <span class="highlight">{{ email }}</span> versendet.</span
    >
    <v-btn
      v-if="!sendEmail"
      color="#667EEA"
      class="text-light"
      depressed
      @click="recover"
      :disabled="!valid"
    >
      {{ $t('pages.passwordForget.buttons.send', 'Senden') }}
    </v-btn>
    <v-btn
      v-if="sendEmail"
      block
      color="#667EEA"
      class="max-width text-light"
      depressed
      @click="closeRecover"
    >
      {{ $t('pages.passwordForget.buttons.close', 'Schließen') }}
  </v-btn>
  </div>
</section>
