// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $color-font-size-root: 20px;

$color-white: #fff;
$color-black: #000;

$color-grey1: #f7fafc;
$color-grey2: #edf2f7;
$color-grey3: #e2e8f0;
$color-grey4: #cbd5e0;
$color-grey5: #a0aec0;
$color-grey6: #718096;
$color-grey7: #4a5568;
$color-grey8: #2d3748;
$color-grey9: #1a202c;

$color-indigo1: #ebf4ff;
$color-indigo2: #c3dafe;
$color-indigo3: #a3bffa;
$color-indigo4: #7f9cf5;
$color-indigo5: #667eea;
$color-indigo6: #5a67d8;
$color-indigo7: #4c51bf;
$color-indigo8: #434190;
$color-indigo9: #3c366b;

